:root {
  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsl(256, 72%, 46%);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
body {
  background-color: rgb(59, 59, 59);
  color: rgb(250, 248, 237);

  font-family: "DM Sans", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Montserrat", sans-serif;

  font-size: 18px;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -2;
}
.result-card {
  background: linear-gradient(to bottom, var(--light-slate-blue-background), var(--light-royal-blue-background));

  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.result-title {
  font-size: 16px;
  text-align: center;

  color: rgb(185, 185, 185);
}

.result-score {
  text-align: center;
  position: relative;

  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 3;
}
.result-score::before {
  content: "";
  position: absolute;

  width: 150px;
  height: 150px;

  background: linear-gradient(to bottom, var(--violet-blue-circle), var(--persian-blue-circle));
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.score-number {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.score-out-of {
  color: rgb(185, 185, 185);

  text-align: center;
  font-size: 12px;
}
.result-feedback {
  max-width: 230px;
  text-align: center;
}
.feedback-title {
  font-size: 26px;
  text-align: center;
}
.feedback-text {
  color: rgb(185, 185, 185);
  font-size: 14px;

  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}
