:root {
  /* Primary Colors */
  --light-red: #ff5757;
  --orangey-yellow: #ffb01f;
  --green-teal: #00bd91;
  --cobalt-blue: #1125d4;

  /* Gradients */
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsl(256, 72%, 46%);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
body {
  background-color: rgb(59, 59, 59);
  color: rgb(250, 248, 237);

  font-family: "DM Sans", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Montserrat", sans-serif;

  font-size: 18px;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -2;
}
.result-card {
  background: linear-gradient(to bottom, var(--light-slate-blue-background), var(--light-royal-blue-background));

  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.result-title {
  font-size: 16px;
  text-align: center;

  color: var(--light-lavender);
}

.result-score {
  text-align: center;
  position: relative;

  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 3;
}
.result-score::before {
  content: "";
  position: absolute;

  width: 150px;
  height: 150px;

  background: linear-gradient(to bottom, var(--violet-blue-circle), var(--persian-blue-circle));
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.score-number {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.score-out-of {
  color: var(--light-lavender);

  text-align: center;
  font-size: 12px;
}
.result-feedback {
  max-width: 230px;
  text-align: center;
}
.feedback-title {
  font-size: 26px;
  text-align: center;
}
.feedback-text {
  color: var(--light-lavender);
  font-size: 14px;

  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.data-conatiner {
  background-color: var(--white);
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 20px;
}
.data-title {
  color: var(--dark-gray-blue);
}
.data-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.item-wrapper {
  display: flex;
}
.item img {
  width: 20px;
  height: 20px;
}
.item:nth-child(1) {
  color: var(--light-red);
  background-color: #ff575722;
  padding: 20px;
  border-radius: 14px;
}
.item:nth-child(2) {
  color: var(--orangey-yellow);
  background-color: #ffb11f33;
  padding: 20px;
  border-radius: 14px;
}
.item:nth-child(3) {
  color: var(--green-teal);
  background-color: #00bd913c;
  padding: 20px;
  border-radius: 14px;
}
.item:nth-child(4) {
  color: var(--cobalt-blue);
  background-color: #1124d437;
  padding: 20px;
  border-radius: 14px;
}

.continue-button {
  color: var(--white);
  background-color: var(--dark-gray-blue);

  border: none;
  border-radius: 20px;

  padding: 10px;

  cursor: pointer;
}
